<footer class="footer mt-5 bgc-green py-sm-3 px-md-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 m-y">
        <div class="fw-bold t">திருக்குறள்</div>
        <div class="fw-bold t">{{ kural.line1 }}</div>
        <div class="fw-bold t">{{ kural.line2 }}</div>
      </div>
      <div class="col-md-6 m-y">
        <div class="col fw-bold t">Thirukural</div>
        <div class="col fw-bold t">{{ kural.eng }}</div>
        <div class="col fw-bold t">{{ kural.eng_exp }}</div>
      </div>
    </div>
    <br />
    <div class="row">
      <p class="text-center fw-bold t">
        Made with <i class="bi bi-heart-pulse-fill"></i> by Ragul | All rights
        reserved &copy; Copyright 2023
      </p>
    </div>
  </div>
</footer>
