<nav class="navbar bg-primaryblue px-sm-5 p">
  <h3 class="text-center fw-bold">
    E-Library
    <i class="bi bi-book-half"></i>
  </h3>
  <button class="btn btn-primary t" type="button" routerLink="/">Home</button>
  <div class="d-flex gap-2">
    <a class="btn btn-primary fw-bold t" routerLink="/login">Login</a>
    <a class="btn btn-primary fw-bold t" routerLink="/signup">Sign Up </a>
  </div>
</nav>
<div class="container-fluid text-center my-5">
  <img
    class="img-thumbnail"
    src="/assets/5203299.jpg"
    style="max-height: 80vh"
  />
</div>
