<app-header (books)="setBooks($event)"></app-header>
<div class="container-fluid">
  <!-- <div class="row mb-2">
    <div class="col-9"></div>
    <div class="col-3">
      <button class="btn btn-primary mt-2" (click)="toggleView()">
        <h4>Toggle Form</h4>
      </button>
    </div>
  </div> -->
  <div class="row mb-5">
    <div class="col-lg-7 col-sm-6">
      <!-- <app-book
        *ngFor="let val of books; let idx = index"
        [bookId]="val.bookId"
        [bookName]="val.bookName"
        [authorName]="val.authorName"
        [price]="val.price"
      ></app-book> -->
      <div class="container" *ngIf="!books.length">
        <p class="text-center mt-5">No books available</p>
      </div>
      <div
        class="container border border-2 border-secondary rounded-2 mt-3 mb-3"
        *ngFor="let book of books; let idx = index"
        [id]="'grid' + (idx + 1)"
      >
        <div class="row px-2 py-2">
          <div class="col-10">
            Book Name: {{ book.bookName | titlecase }} <br />
            Author Name: {{ book.authorName | titlecase }}
          </div>
          <div class="col-2">
            <button
              [id]="'edit ' + (idx + 1)"
              class="btn btn-info"
              (click)="editBook(book.bookId)"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
        </div>
        <div class="row px-2 py-2">
          <div class="col-10">
            Price: {{ book.price | currency : "INR" : "symbol" : ".0" }} / day
          </div>
          <div class="col-2">
            <button
              [id]="'delete ' + (idx + 1)"
              class="btn btn-danger"
              (click)="deleteBook(book.bookId)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-sm-6" [ngSwitch]="currView">
      <!-- <div *ngIf="isedit; then addBook; else updateBook"></div> -->
      <!-- <ng-template [ngIf]="isedit">
        <app-add-books #addBook>Hey </app-add-books>
      </ng-template> -->
      <div class="my-2">
        <button class="btn btn-primary mx-2" (click)="toggleAddUser()">
          Add User
        </button>
        <button class="btn btn-primary mx-2" (click)="toggleAddBook()">
          Add Book
        </button>
      </div>
      <app-add-users
        *ngSwitchCase="'addUser'"
        (book)="addBook($event)"
      ></app-add-users>
      <app-add-books
        *ngSwitchCase="'addBook'"
        (book)="addBook($event)"
      ></app-add-books>
      <app-edit-books
        (Book)="updateBook($event)"
        [book]="selectedBook"
        *ngSwitchDefault
      ></app-edit-books>
      <!-- <button (click)="getBooks()"><h3>Get Books</h3></button> -->

      <!-- <app-add-books
        *ngIf="isedit; else appHeader"
        (books)="addBook($event)"
      ></app-add-books> -->
    </div>
  </div>
</div>
