<div class="container my-5">
  <div class="card bg-secondaryblue border border-2 border-light">
    <div class="card-body m-sm-3 m-md-5">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-8 m-y">
            <div class="card bg-dark">
              <div
                class="card-body border border-2 border-dark rounded-1 bg-secondaryblue"
              >
                <form action="" class="form container">
                  <div class="mb-3 row">
                    <label for="name" class="fw-bold">Your Name *</label>
                    <input type="text" class="form-control" id="name" />
                  </div>
                  <div class="mb-3 row">
                    <label for="email" class="fw-bold">Your Email *</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="feedback" class="fw-bold">Your Feedback</label>
                    <textarea
                      class="form-control"
                      style="resize: none"
                      id="feedback"
                      cols="30"
                      rows="10"
                    ></textarea>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-danger" type="submit">Submit</button>
                  </div>
                  <div class="fw-bold t mt-3">
                    * Marked Field are mandatory for contact purpose, your
                    personal data wont't be shared to anyone
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- <h3>Contact Us</h3> -->
            <h4>Social Handles</h4>
            <div class="container">
              <ul>
                <li>
                  <a
                    class="hover-under-line t"
                    href="https://github.com/ragul-engg"
                    target="_blank"
                  >
                    <i class="bi bi-github"></i> Github</a
                  >
                </li>
                <li>
                  <a
                    class="hover-under-line t"
                    href="https://linkedin.com/"
                    target="_blank"
                    ><i class="bi bi-linkedin"></i> Linked-in
                  </a>
                </li>
                <li>
                  <a
                    class="hover-under-line t"
                    href="https://twitter.com"
                    target="_blank"
                  >
                    <i class="bi bi-twitter"></i> Twitter</a
                  >
                </li>
                <li>
                  <a
                    class="hover-under-line t"
                    href="https://youtube.com"
                    target="_blank"
                    ><i class="bi bi-youtube"></i> Youtube
                  </a>
                </li>
              </ul>
            </div>
            <p class="mt-2">
              Your feedback will help us to make our service better. For any
              queries kindly contact our support mail
              <a href="mailto:uit20208@rmd.ac.in" class="hover-under-line t">
                uit20208@rmd.ac.in</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
