<div class="container">
  <div
    class="card mb-5 border border-2 border-light bg-secondaryblue px-sm-5 pb-sm-5 pt-sm-3 p"
  >
    <h3 class="text-center text-white">Add User</h3>
    <div class="card-body px-lg-5 border border-2 border-dark rounded-1">
      <form
        method="post"
        [formGroup]="addUser"
        (ngSubmit)="handleAddUser(addUser)"
      >
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-1">
                <label for="email" class="py-2 h5">User Type</label>
                <select
                  class="form-control"
                  id="admin/user"
                  formControlName="userType"
                >
                  <option value="">Enter Admin / User</option>
                  <option value="user">User</option>
                  <option value="admin">Admin</option>
                </select>
              </div>
              <div class="mb-1">
                <label for="enterId" class="py-2 h5">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email"
                />
              </div>
              <div class="mb-1">
                <label for="enterName" class="py-2 h5">User Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  formControlName="userName"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-1">
                <label for="enterMobileNumber" class="py-2 h5"
                  >Mobile Number</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="enterMobileNumber"
                  formControlName="mobileNumber"
                />
              </div>
              <div class="mb-1 password-container">
                <label for="enterPassword" class="py-2 h5">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  formControlName="password"
                />
                <i class="bi bi-eye eye" (click)="service.togglePass()"></i>
              </div>

              <div class="mb-1 password-container">
                <label for="enterConfirmPassword" class="py-2 h5"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  formControlName="confirmPassword"
                />
                <i class="bi bi-eye eye" (click)="service.togglePass()"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2 m-x">
          <div class="col-sm-8 col-md-4 mx-auto">
            <div class="row">
              <button
                class="btn btn-primary btn-lg btn-block"
                type="submit"
                id="addButton"
                [disabled]="addUser.invalid || addUser.errors"
              >
                Add User
              </button>
            </div>
          </div>
        </div>
        <div class="row mt-2 m-x">
          <div class="col-sm-8 col-md-4 mx-auto">
            <div class="row">
              <button
                class="btn btn-danger btn-lg btn-block"
                type="button"
                routerLink="/admin"
              >
                Back
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
